<ion-header>
    <ion-toolbar>
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="containe">
        <ion-card>
            <ion-card-header>
                <div id="mylol">

                    <img src="assets/icon/sharon.png" alt="project-art">
                </div>
                <ion-card-title>Art shopping</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <ion-item>
                    <ion-input placeholder="username"></ion-input>
                </ion-item>
                <br>
                <ion-item>
                    <ion-input placeholder="password" type="password"></ion-input>
                </ion-item>
                <br>
                <ion-button>Login</ion-button>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>