<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Art gallery
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="containe">
        <ion-card>
            <ion-card-header>
                <div id="mylol">

                    <img src="assets/icon/sharon.png" alt="project-art">
                </div>
                <ion-card-title>Art shopping</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                Art gallery is an application that can provide for you an easy access and affordable online art market.
            </ion-card-content>
        </ion-card>
    </div>

</ion-content>